@import "./variables";
@import "./@media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow Semi Condense", sans-serif;
    background-color: $Light-grayish-blue;
    min-height: 100vh;
    line-height: 1.5;
    padding: 4rem 1.5rem;
}

section {
    display: grid;
    gap: 1.5rem;
}
article {
    border-radius: 14px;
    box-shadow: 5px 5px 20px $Light-gray;
    padding: 1.5rem;
    header {
        display: flex;
        align-items: center;
        img {
            width: 2rem;
            border: 1px solid $White;
            border-radius: 50%;
        }
        h2{
            padding-left: 1rem;
            font-size: .7rem;
            line-height: 1rem;
            color: $White;
            span {
                font-weight: 500;
                color: hsla(0, 0%, 100%, 50%);
            }
        }
    }
    h1 {
        padding: 1rem 0;
        color: $White;
        font-weight: 500;
    }
    blockquote {
        font-size: .7rem;
        line-height: 1rem;
        color: hsla(0, 0%, 100%, 70%);
    }
}
.purple {
    background-color: $Moderate-violet;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}
.grayish-blue {
    background-color: $Very-dark-grayish-blue;
}
.white {
    background-color: $White;
    h1{
        color: $Very-dark-grayish-blue;
    }
    h2{
        color: $Very-dark-grayish-blue;
        span {
            color: hsla(217, 19%, 35%, 50%);
        }
    }
    blockquote {
        color: hsla(217, 19%, 35%, 70%);
    }
}
.dark-blue {
    background-color: $Very-dark-blackish-blue;
    img {
        border: 1px solid $Moderate-violet;
    }
}